:root {
    --main-hue: 222;
	--main-saturation: 4%;
	--value-base: 13%;
	--value-step: 5%;
	--background-color1: none;
	--background-color2: rgb(23, 23, 23);
	--background-color3: rgb(40, 40, 40);
	--background-color4: hsl(var(--main-hue), var(--main-saturation), calc(var(--value-base) - (1.5 * var(--value-step))));

    --accent-hue: 6;
    --accent-lightness: 25%;
    --accent-lightness-hover: 20%;

    --text-color: #eee;

	--input-text-color: #eee;
    --input-background-color: var(--background-color4);
	--input-border-color: var(--background-color4);

    --button-text-color: var(--input-text-color);
    --button-color: var(--input-background-color);
    --button-border: none;

    /* other */
    --input-border-radius: 4px;
    --input-border-size: 1px; 
    --accent-color: rgb(178 34 34);
    --accent-color-hover: rgba(var(--accent-color), 0.8);
    --accent-text-color: rgb(255, 255, 255);
    --primary-button-border: none;
    --input-switch-padding: 1px;
    --input-height: 18px;
	--tertiary-background-color: hsl(var(--main-hue), var(--main-saturation), calc(var(--value-base) + (2 * var(--value-step))));
    --tertiary-border-color: hsl(var(--main-hue), var(--main-saturation), calc(var(--value-base) + (3 * var(--value-step))));
    --tertiary-color: var(--input-text-color);

    /* Main theme color, hex color fallback. */
    --theme-color-fallback: #B22222;
    --status-orange: rgb(200, 139, 0);
    --status-green: green;
    --status-red: red;
}
